<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <!--  <class name="selenium.test.SAPValidation1"/>
    
      <class name="selenium.test.BaseTest"/>
      <class name="selenium.test.AMSValidation1"/>
      <class name="selenium.test.GitHub128Sample"/>
      <class name="selenium.test.TestNGParallelDependent"/>
      <class name="selenium.test.NaukriTestClass"/>
      <class name="selenium.test.test2"/> -->
      
      
        <class name="selenium.test.TestClass2"/>
      <class name="selenium.test.TestClass1"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
